<phpunit colors="true" bootsrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="DoxieConsumer Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DOXIE_BASE_URL" value="http://doxie"/>
        <env name="DOWNLOAD_LOCATION" value="."/>
    </php>
</phpunit>